.jobs-bg-container {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.sm-device-search-bar {
  margin-bottom: 10px;
}

.search-container {
  border: 2px solid #ffffff;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-side-container {
  min-width: 100%;
}

.profile-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
}

.md-device-search-bar {
  display: none;
}

@media (min-width: 769px) {
  .jobs-bg-container {
    flex-direction: row;
  }

  .sm-device-search-bar {
    display: none;
  }

  .search-container {
    max-width: 50%;
  }

  .left-side-container {
    margin-right: 30px;
    min-width: 30%;
  }

  .profile-bg-container {
    max-width: 250px;
  }

  .md-device-search-bar {
    display: block;
  }
}

@media (min-width: 992px) {
  .left-side-container {
    min-width: 18%;
  }
}

.left-search-container {
  color: #ffffff;
  min-width: 30%;
}

.filter-heading {
  font-size: 20px;
}

.right-side-container {
  min-width: 60%;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-selection-container {
  list-style: none;
  padding: 0px;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
}

.search-icon {
  background-color: #272727;
  color: #ffffff;
  height: 40px;
  width: 40px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 17px;
}

.profile-name {
  color: #4f46e5;
  font-size: 20px;
}

.job-all-list-container {
  padding-left: 0px;
}

.no-jobs-view-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.no-jobs-image {
  height: 300px;
  width: 300px;
}
